<mat-toolbar color="primary" class="main-header">
  <div class="header-icon-container">
    <img
      src="assets/img/rick-and-morty-icon.gif"
      alt="Rick and Morty icon"
      class="header-icon"
    />
  </div>
  <ul class="header-navbar">
    <li routerLinkActive="active">
      <a routerLink="/characters" class="header-navbar-item-link">Characters</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/episodes" class="header-navbar-item-link">Episodes</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/locations" class="header-navbar-item-link">Locations</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/my-watch-list" class="header-navbar-item-link"
        >My watch list</a
      >
    </li>
  </ul>
</mat-toolbar>
