$font-primary-size: 1.12rem;
$font-secondary-size: 1.25rem;
$font-navigation-size: 2rem;

$thin-weight: 100;
$extra-light-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semi-bold-weight: 600;
$bold-weight: 700;
$extra-bold-weight: 800;
$black-weight: 900;
